<div class='nested-fields'>
  <div class="field">
    <%= f.label :price %>
    <%= f.number_field :price %>
  </div>
  <div class="field">
    <%= f.label :share_type %>
    <%= f.text_field :share_type %>
  </div>
  <%= link_to_remove_association "remove share type", f %>
  <br><br>
</div>
