<body>

<h1 class="page-heading">All Projects</h1>
<% @projects.each do |project| %>
<div class="project-card">
  <%= link_to image_tag(project.picture_url), project_path(project), class:'viewProjectImage'%>
  <h1 class="project-name"><%= project.name %></h1>
  <p class="project-description"><%= project.description %></p>
  <h4 class="project-link"><%= link_to "See Project", project_path(project) %></h4>
</div>
<% end %>

<%= link_to "New Project", new_project_path %>
</body>
