<h1 class="page-heading">Create a Project</h1>

<%= form_for @project do |f| %>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :max_shares %><br>
    <%= f.number_field :max_shares %>
  </div>
  <div class="field">
    <h2>Shares Available For Sale</h2>
    <%= f.fields_for :shares do |r| %>
      <div class="field">
        <%= r.label :price %>
        <%= r.number_field :price %>
      </div>
      <div class="field">
        <%= r.label :share_type %>
        <%= r.text_field :share_type %>
      </div>
    <% end %>
  </div>
  <%= f.submit %>
<% end %>
