<body class="individualProductPageBody">


<h1 class="project-name-show"><%= @project.name %></h1><%= link_to "Back to all projects", projects_path, class:"backToAllProjectsButton" %>
<h4 class="project-description-title-show">Description</h4>
<p class="project-description-show">
  <%= @project.description %>
</p>
<h4 class="project-max-shares-show">Maximum Shares: <%= @project.max_shares %></h4>

<p>
  Shares Available:
  <%= @project.calculate_shares('left') %></p>

<%= @project.days_left %> days left <br>
<%= image_tag @project.picture_url %>
<p>Campaign Completion Percentage:</p>
<p id='qwerty'>
  <%= @project.percentage.round(1) %> %
</p>
  <div id="myProgress">
    <div id="myBar"></div>
  </div>

<script>
function move() {
    var elem = document.getElementById("myBar");
    var width = 1;
    var percent = document.getElementById("qwerty").textContent
    var id = setInterval(frame, 20);
    percent = parseInt(percent.slice(0,percent.length-1))
    function frame() {
        if (width >= percent) {
            clearInterval(id);
        } else {
            width++;
            elem.style.width = width + '%';
        }
    }
}
move()
</script>

<h3> Possible Share Types: </h3>
<% @project.shares.each do |share| %>
<%= share.share_type %> @ <%= share.price %> per share
<% end %>
<h2> Purchase Form </h2>
<%= form_for @purchase do |f| %>
<%= f.label :number_of_shares %>
<%= f.number_field :number_of_shares %>
<br>

<%= f.label :share_type %>:
<% @project.shares.each do |share| %>

<%= f.radio_button :share_id, share.id%> <%=share.share_type%>
<% end %>
<br>
<%= f.hidden_field :project_id, value: @project.id %>
<%= f.submit "Make a Donation"%>
<% end %>

<script type="text/javascript">
 $(function () {
  var chart = new CanvasJS.Chart("chartContainer",
  {
    title:{
      text: "Top Categories of New Year's Resolution"
    },
    exportFileName: "Pie Chart",
    exportEnabled: true,
                animationEnabled: true,
    legend:{
      verticalAlign: "bottom",
      horizontalAlign: "center"
    },
    data: [
    {
      type: "pie",
      showInLegend: true,
      toolTipContent: "{legendText}: <strong>{y}%</strong>",
      indexLabel: "{label} {y}%",
      dataPoints: [
        {  y: 35, legendText: "Health", exploded: true, label: "Health" },
        {  y: 20, legendText: "Finance", label: "Finance" },
        {  y: 18, legendText: "Career", label: "Career" },
        {  y: 15, legendText: "Education", label: "Education"},
        {  y: 5, legendText: "Family", label: "Family" },
        {  y: 7, legendText: "Real Estate", label: "Real Estate"}
      ]
  }
  ]
  });
  chart.render();
})
</script>

<div id="chartContainer" style="height: 300px; width: 100%;"></div>

<div id="chartContainer" style="height: 300px; width: 100%;"></div>
</body>
