<%= link_to "Back to all projects", projects_path %>
<%= link_to "PURCHASE", new_purchase_path %>
<h1 class="project-name-show"><%= @project.name %></h1>
<h4 class="project-description-title-show">Description</h4>
<p class="project-description-show">
  <%= @project.description %>
</p>
<h4 class="project-max-shares-show">Maximum Shares: <%= @project.max_shares %></h4>
