

<div class="individualProductPageBody">

<%= link_to "Back to all projects", projects_path, class:"backToAllProjectsButton" %>
<h1 class="project-name-show"><%= @project.name %></h1>
<%= image_tag @project.picture_url, class:"individualProductPageImage" %>

<div class="keyProjectInfo">
<p class="project-max-shares-show"><%= @project.max_shares %></p> maximum shares
<p class="sharesAvailable"><%= @project.calculate_shares('left') %></p> shares available
<p class="daysToGo"><%= @project.days_left%></p> days to go
</div>


<h4 class="project-description-title-show">Description</h4>
<p class="project-description-show"><%= @project.description %></p>


<p class="sharesSold">Percentage of Shares Sold: <%= @project.percentage.round(1)%>%</p>
<p id="qwerty"><%= @project.percentage.round(1) %> </p>
  <div id="myProgress">
    <div id="myBar"></div>
  </div>



<script>
function move() {
    var elem = document.getElementById("myBar");
    var width = 1;
    var percent = document.getElementById("qwerty").textContent
    var id = setInterval(frame, 20);
    percent = parseInt(percent.slice(0,percent.length-1))
    function frame() {
        if (width >= percent) {
            clearInterval(id);
        } else {
            width++;
            elem.style.width = width + '%';
        }
    }
}
move()
</script>

<div class="pricePerShare"> Price Per Share ($US):
<% @project.shares.each do |share| %>
<%= share.share_type %> @ <%= share.price %> per share
<% end %>
</div>

<div class=purchaseForm>
<h2 class="purchaseFormTitle"> Purchase Shares </h2>
<%= form_for @purchase do |f| %>
<div class="numSharesOnForm"
<%= f.label :number_of_shares %>
<%= f.number_field :number_of_shares %>
<br>

<%= f.label :share_type %>:
<% @project.shares.each do |share| %>

<%= f.radio_button :share_id, share.id%> <%=share.share_type%>
<% end %>
<br>
<%= f.hidden_field :project_id, value: @project.id %>
<div class="purchaseButton">
  <%= f.submit "Purchase Shares"%>
<% end %>
</div>
</div>
</div>
